* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "lobster";
  src: url("../font/Lobster-Regular.ttf");
}
@font-face {
  font-family: "hartone";
  src: url("../font/Hartone Softed.ttf");
}
@font-face {
  font-family: "fjallaone";
  src: url("../font/FjallaOne-Regular.ttf");
}
@font-face {
  font-family: "Tangerine";
  src: url("../font/Tangerine-Bold.ttf");
}
@font-face {
  font-family: "Sacramento";
  src: url("../font/Sacramento-Regular.ttf");
}
@font-face {
  font-family: "EB Garamond";
  src: url("../font/EBGaramond-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Kirang Haerang";
  src: url("../font/KirangHaerang-Regular.ttf");
}
@font-face {
  font-family: "Bubbler One";
  src: url("../font/BubblerOne-Regular.ttf");
}
.disclaimer {
  display: none;
}

header {
  background-color: white;
  display: block;
}

.snack {
  color: #ff5f00;
  font-family: "lobster";
  font-size: 2rem;
  padding-left: 3rem;
  padding-top: 0.5rem;
}

.vegano {
  color: #9fc088;
  font-family: "lobster";
  font-size: 3rem;
  padding-left: 3rem;
}

footer {
  background-color: black;
}

.snack-1 {
  color: #ff5f00;
  font-family: "lobster";
  font-size: 2rem;
  padding-left: 3rem;
  padding-top: 0.5rem;
  text-align: center;
}

.vegano-1 {
  color: #9fc088;
  font-family: "lobster";
  font-size: 3rem;
  padding-left: 3rem;
  text-align: center;
}

.img-fluid-insta {
  border-radius: 50%;
  margin-right: 20px;
}

.img-fluid-twitter {
  margin-right: 20px;
  margin-left: 20px;
}

.card-text img {
  width: 7.5rem;
  border-radius: 100%;
}

.img-fluid-contacto {
  width: 50%;
  margin-left: 11rem;
}

.img-quienes-somos {
  width: 100%;
}

.img-quienes-somos img {
  width: 100%;
}
@media screen and (max-width: 450px) {
  .img-quienes-somos img {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .img-quienes-somos img {
    width: 100%;
  }
}

.img-kangoo {
  width: 100%;
}
@media screen and (max-width: 450px) {
  .img-kangoo {
    width: 100%;
    margin-left: 0rem;
  }
}
@media screen and (max-width: 540px) {
  .img-kangoo {
    width: 100%;
    margin-left: 0rem;
  }
}

.img-kangoo img {
  width: 100%;
}

.barra {
  width: 100%;
  position: fixed;
}

.index {
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.index .li-index {
  padding: 2rem;
  background-color: black;
  list-style: none;
}
@media screen and (max-width: 450px) {
  .index .li-index {
    padding-top: 7rem;
    padding-bottom: 10rem;
    font-size: 3rem;
  }
}
.index .li-index .snack-index {
  margin-top: 7rem;
  margin-right: 8rem;
  font-size: 10rem;
  color: #ff5f00;
  font-family: "Kirang Haerang";
}
@media screen and (max-width: 1024px) {
  .index .li-index .snack-index {
    margin-top: 7rem;
    margin-right: 8rem;
    font-size: 5rem;
  }
}
@media screen and (max-width: 450px) {
  .index .li-index .snack-index {
    margin-top: 8rem;
    margin-right: 8rem;
    font-size: 2rem;
  }
}

.vegano-index {
  margin-left: 8rem;
  margin-top: -5rem;
  font-size: 10rem;
  color: #9fc088;
  font-family: "Kirang Haerang";
}
@media screen and (max-width: 1024px) {
  .vegano-index {
    margin-top: -2rem;
    font-size: 5rem;
  }
}
@media screen and (max-width: 450px) {
  .vegano-index {
    margin-top: -1rem;
    font-size: 2rem;
  }
}

.aritos-index {
  font-size: 7rem;
  color: #ff5f00;
  font-family: "Sacramento";
}
@media screen and (max-width: 1024px) {
  .aritos-index {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .aritos-index {
    font-size: 2rem;
  }
}

.horneados-index {
  font-size: 6rem;
  color: #ff5f00;
  font-family: "Sacramento";
}
@media screen and (max-width: 1024px) {
  .horneados-index {
    font-size: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .horneados-index {
    font-size: 3rem;
  }
}

.quienes-somos {
  padding-top: 9rem;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
}
@media screen and (max-width: 1024px) {
  .contenedor {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .contenedor {
    display: block;
  }
}

.t-quienes {
  font-family: "hartone";
  font-size: 6rem;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .t-quienes {
    font-size: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .t-quienes {
    font-size: 3rem;
  }
}

.p-quienes {
  font-size: 2.5rem;
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  .p-quienes {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .p-quienes {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 1rem;
  }
}

.div-info {
  position: relative;
}

.informacion-nutricional {
  padding-top: 9rem;
  background-color: white;
}

.columnas {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 4px 4px;
  font-size: 1.5rem;
  font-family: "EB Garamond";
  background-image: url(../imagenes/Arvejas.jpg);
  background-size: cover;
  padding: 3rem;
  text-align: center;
}

.info-1 {
  background-color: rgba(159, 192, 136, 0.89);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.info-2 {
  background-color: rgba(59, 97, 32, 0.85);
}

.info-3 {
  background-color: rgba(245, 122, 51, 0.66);
}

.info-tecnica {
  font-size: 2.2rem;
  font-family: "Bubbler One";
  text-align: initial;
}
@media screen and (max-width: 680px) {
  .info-tecnica {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 450px) {
  .info-tecnica {
    font-size: 1.5rem;
  }
}

.contacto {
  padding-top: 23rem;
  padding-bottom: 4rem;
  background-color: white;
}
@media screen and (max-width: 450px) {
  .contacto {
    padding-top: 18rem;
    padding-bottom: 4rem;
  }
}

.card-title {
  font-family: "lobster";
  font-size: 3rem;
}
@media screen and (max-width: 680px) {
  .card-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .card-title {
    font-size: 1.5rem;
  }
}

.card-text {
  font-family: "EB Garamond";
  font-size: 1.5rem;
}
@media screen and (max-width: 680px) {
  .card-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .card-text {
    font-size: 1rem;
  }
}

.card {
  position: initial;
}

.quiero-ser-distribuidor {
  padding-top: 16rem;
  padding-bottom: 6.5rem;
  background-color: white;
}
@media screen and (max-width: 450px) {
  .quiero-ser-distribuidor {
    padding-top: 7.5rem;
    padding-bottom: 0rem;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 0.5fr;
  gap: 5px 4px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  background-color: white;
}
@media screen and (max-width: 1024px) {
  .container {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .container {
    display: block;
  }
}

.p-1 {
  font-family: "lobster";
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .p-1 {
    font-size: 3rem;
    margin: auto;
  }
}

.p-2 {
  text-align: start;
  font-family: "lobster";
  font-size: 2rem;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .p-2 {
    font-size: 1.5rem;
    margin: auto;
  }
}

.p-3 {
  font-family: "EB Garamond";
  font-size: 1.5rem;
}
@media screen and (max-width: 450px) {
  .p-3 {
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
