@import'../base/variables';



header {
    background-color: white;
    display: block;
}

.snack {
    color: #ff5f00;
    font-family: "lobster";
    font-size: 2rem;
    padding-left: 3rem;
    padding-top: 0.5rem;
}

.vegano {
    color: #9fc088;
    font-family: "lobster";
    font-size: 3rem;
    padding-left: 3rem;
}

