// instagram
.img-fluid-insta {
	border-radius: 50%;
	margin-right: 20px;

}

// twitter

.img-fluid-twitter {
	margin-right: 20px;
	margin-left: 20px;
}



//contacto


.card-text img {
	width: 7.5rem;
	border-radius: 100%;
}

.img-fluid-contacto {
	width: 50%;
	margin-left: 11rem;
}



// quienes somos

.img-quienes-somos {
	width: 100%;
}


.img-quienes-somos img {
	width: 100%;

	@media screen and (max-width: 450px) {
		width: 100%;
	}

	@media screen and (max-width: 540px) {
		width: 100%;
	}

}
// quiero ser distribuidor

.img-kangoo {
	width: 100%;

	@media screen and (max-width: 450px) {
		width: 100%;
		margin-left: 0rem;
	}

	@media screen and (max-width: 540px) {
		width: 100%;
		margin-left: 0rem;
	}
}

.img-kangoo img {
	width: 100%;
}